.info_container{
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.info_primeiro{
    font-size: .9em;
    color: #292929;
    text-align: left;
    margin: 1em 2em;
}

.info_primeiro li{
    cursor: text;
}

.info_mais li{
    font-size: .8em;
    color: #808080;
    display: none;
}

/**/

.redes ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: auto;
    padding: 0;
}

.redes li{
    cursor: pointer;
}

.redes img{
    width: 1em;
    border: 1px solid #808080;
    border-radius: 50%;
    padding: .3em .3em;
}

/**/

.appStore{
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

.appStore img{
    width: 7em;
    cursor: pointer;
}

.linha_footer{
    height: 1px;
    background: rgba(0,0,0,.1);
    
}

/**/

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .6em;
    color: #808080;
    padding: 3em 0;
}

.rodape div{
    display: flex;
    align-items: top;
    
}

.rodape a{
    text-decoration: none;
    color: #808080;
}

.rodape img{
    width: 2em;
    height: 2em;
    padding-top: .5em;
}

.rodape_items{
    width: 30vh;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 1em;
}

.rodape_copyRight{
    width: 18vh;
    margin: auto;
    justify-content: stretch;
}

@media only screen and (min-width:1020px){

    .info_container{
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        padding: 4em 0 4em 150px;
    }

    .info_colunas{
        width: 18%;
        text-align: left;
    }

    .info_primeiro{
        margin: 0;
        padding-bottom: 1em;
    }

    .info_primeiro{
        font-size: 16px;
        padding-bottom: 1.5em;
    }

    .info_mais li{
        display: flex;
        font-size: 16px;
        padding-bottom: 1.2em;
        line-height: 1.1em; 
        cursor: pointer; 
    }

    .info_mais li:hover{
        color: #292929;
    }

    /**/

    .redes-app{
        display: flex;
        justify-content: space-around; 
        width: 100%;
        align-items: center;
        padding-bottom: 2em;
    }

    .appStore{
        width: 30%;
    }

    .appStore img{
        height: 90%;
    }

    .linha_footer{
        width: 80%;
        margin: auto; 
    }

    /**/

    .rodape{
        flex-direction: row;
        font-size: 1em;
        padding: 1em 0;
        align-items: center;
    }

    .rodape_items{
        width: 260px;
        padding: 0;
    }

    .rodape_copyRight{
        width: 200px;
        padding-bottom: 4px;
    }
}